# Rajabiller PPOB Account Credentials
# Salin berkas ini menjadi '.env' untuk pengujian lokal (Jangan commit .env ke GitHub!)

RAJABILLER_USER=user_anda_di_sini
RAJABILLER_PASSWORD=password_anda_di_sini
